<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs', {title: title}) %> 
    <link rel="stylesheet" href="/admin/css/table_data.css">
</head>


<body>
    <div class="modal fade" tabindex="-1" id="page-modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button id="brandDelete" type="button" class="btn btn-danger">Remove</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>      

    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%-include('partials/spinner.ejs') %> 
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <%-include('partials/sidebar.ejs', {active: active}) %> 
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%-include('partials/navbar.ejs') %> 
            <!-- Navbar End -->
            <!-- Alert Start-->
            <%-include('partials/alert.ejs') %>
            <!-- Alert End-->
            <!-- Brand Control Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-4">
                    <div class="col-md-6 col-sm-12">
                        <form class="d-md-flex ms-4 mb-md-0 mb-4 w-75 ms-md-0 ms-auto me-auto">
                            <input class="form-control border-0" type="search" placeholder="Search">
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12 text-md-end text-center">
                        <button class="btn btn-primary form-collapse-btn" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Create new Brand<i
                                class="fa-solid fa-angle-up ms-2 form-collapse-btn-icon fa-rotate-180"></i>
                        </button>
                    </div>
                    <div class="col-md-8 col-sm-12 text-start">
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body mt-4">
                                <form novalidate>
                                    <div class="mb-3">
                                        <label for="inputBrandName" class="form-label">Brand
                                            name</label>
                                        <input type="text" class="form-control" id="inputBrandName"
                                            aria-describedby="brandHelp" autocomplete="off" required>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback" id="brandErrorMsg"></div>
                                        <div id="brandHelp" class="form-text">Enter the name of the new
                                            brand
                                        </div>
                                    </div>
                                    <div class="mb-5">
                                        <input class="form-control" type="file" id="formFile" accept="image/png,image/jpeg">
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback" id="brandImgErrorMsg"></div>
                                        <div class="mt-3 d-none text-md-start text-center" id="img-holder">
                                            <img style="max-width:300px;width:100%">
                                        </div>
                                    </div>
                                    <div class="text-md-start text-center">
                                        <button type="submit" class="btn btn-primary w-50"
                                            id="brandSubmit">
                                            <span class="spinner-border spinner-border-sm d-none"
                                                role="status" aria-hidden="true"
                                                id="loading-spinner"></span>
                                            <span id="btn-text">Add</span>
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Brand Control End -->
            <!-- Brand table Start -->
            <%-include('partials/data_table.ejs') %>
            <!-- Brand table End -->
            <!-- Footer Start -->
            <%-include('partials/footer.ejs') %> 
            <!-- Footer End -->
            <!-- Content End -->
            <!-- Back to Top -->
            <%-include('partials/back_to_top_btn.ejs') %> 
        </div>
        <!-- JavaScript Libraries -->
        <%-include('partials/include_js.ejs') %> 
        <!-- MyScript -->
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/admin/js/alert.js"></script>
        <script src="/admin/js/data_table.js"></script>
        <script src="/admin/js/brands.js"></script>
</body>

</html> 