<!DOCTYPE html>
<html lang="en">

<%-include('partials/head.ejs', {title: title}) %> 

<body>


    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%-include('partials/spinner.ejs') %> 
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <%-include('partials/sidebar.ejs', {active: active}) %> 
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%-include('partials/navbar.ejs') %> 
            <!-- Navbar End -->
            <!-- Category Control Start -->
            <div class="alert" id="success-alert">
                <strong>Success! </strong> 
                <span>Category added</span>.
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-4">
                    <div class="col-md-6 col-sm-12">
                        <form class="d-md-flex ms-4 mb-md-0 mb-4 w-75 ms-md-0 ms-auto me-auto">
                            <input class="form-control border-0" type="search" placeholder="Search">
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12 text-md-end text-center">
                        <button class="btn btn-primary form-collapse-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Create new category<i
                                class="fa-solid fa-angle-up ms-2 form-collapse-btn-icon fa-rotate-180"></i>
                        </button>
                    </div>
                    <div class="col-md-8 col-sm-12 text-start">
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body mt-4">
                                <form novalidate>
                                    <div class="mb-3">
                                        <label for="inputCategoryName" class="form-label">Category name</label>
                                        <input type="text" class="form-control" id="inputCategoryName"
                                            aria-describedby="categoryHelp" autocomplete="off" required>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback" id="categoryErrorMsg"></div>
                                        <div id="categoryHelp" class="form-text">Enter the name of the new category
                                        </div>
                                    </div>
                                    <div class="text-md-start text-center">
                                        
                                        <button type="submit" class="btn btn-primary w-50" id="categorySubmit">
                                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true" id="loading-spinner"></span>
                                            <span id="btn-text">Add</span>
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Category Control End -->

            <!-- Category table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row vh-100 bg-light rounded align-items-sm-start justify-content-center mx-0">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Categories</h6>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Categories Name</th>
                                            <th scope="col">Number of products</th>
                                            <th scope="col">Created</th>
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="align-middle">11421412451</th>
                                            <td class="align-middle">Smart Watch</td>
                                            <td class="align-middle">451</td>
                                            <td class="align-middle">12/5/2001</td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-square btn-secondary"><i
                                                        class="fa fa-pencil"></i></button>
                                            </td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-square btn-danger"><i
                                                        class="fa fa-trash-can"></i></button>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="align-middle">11421412451</th>
                                            <td class="align-middle">Mobile Phone</td>
                                            <td class="align-middle">124</td>
                                            <td class="align-middle">12/5/2001</td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-square btn-secondary"><i
                                                        class="fa fa-pencil"></i></button>
                                            </td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-square btn-danger"><i
                                                        class="fa fa-trash-can"></i></button>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="align-middle">11421412451</th>
                                            <td class="align-middle">Headphone</td>
                                            <td class="align-middle">512</td>
                                            <td class="align-middle">12/5/2001</td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-square btn-secondary"><i
                                                        class="fa fa-pencil"></i></button>
                                            </td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-square btn-danger"><i
                                                        class="fa fa-trash-can"></i></button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Category table End -->

            <!-- Pagination Start -->

            <div class="mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Pagination End -->
            <!-- Footer Start -->
            <%-include('partials/footer.ejs') %> 
            <!-- Footer End -->
            <!-- Content End -->
            <!-- Back to Top -->
            <%-include('partials/back_to_top_btn.ejs') %> 
              

        </div>

        <!-- JavaScript Libraries -->
        <%-include('partials/include_js.ejs') %> 
        <script type="module" src="/admin/js/categories.js"></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </body>

</html>