<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head.ejs', {title: title}) %>
    <link rel="stylesheet" href="/admin/css/table_data.css">
    <link rel="stylesheet" href="/admin/css/pagination.css">
</head>


<body>


    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%-include('partials/spinner.ejs') %>
            <!-- Spinner End -->
            <!-- Sidebar Start -->
        <%-include('partials/sidebar.ejs', {active: active}) %>
                <!-- Sidebar End -->
                <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <!-- Navbar End -->
            <!-- Category Control Start -->
            <%-include('partials/alert.ejs') %>
            <div class="container-fluid pt-4 px-4">
                <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-4">
                    <div class="col-md-6 col-sm-12">
                        <form class="d-md-flex ms-4 mb-md-0 mb-4 w-75 ms-md-0 ms-auto me-auto">
                            <input class="form-control border-0" type="search" placeholder="Search">
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-12 text-md-end text-center">
                        <button class="btn btn-primary form-collapse-btn" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Create new category<i
                                class="fa-solid fa-angle-up ms-2 form-collapse-btn-icon fa-rotate-180"></i>
                        </button>
                    </div>
                    <div class="col-md-8 col-sm-12 text-start">
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body mt-4">
                                <form novalidate>
                                    <div class="mb-3">
                                        <label for="inputCategoryName" class="form-label">Category
                                            name</label>
                                        <input type="text" class="form-control" id="inputCategoryName"
                                            aria-describedby="categoryHelp" autocomplete="off" required>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback" id="categoryErrorMsg"></div>
                                        <div id="categoryHelp" class="form-text">Enter the name of the new
                                            category
                                        </div>
                                    </div>
                                    <div class="text-md-start text-center">

                                        <button type="submit" class="btn btn-primary w-50"
                                            id="categorySubmit">
                                            <span class="spinner-border spinner-border-sm d-none"
                                                role="status" aria-hidden="true"
                                                id="loading-spinner"></span>
                                            <span id="btn-text">Add</span>
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Category Control End -->

            <!-- Category table Start -->
            <%-include('partials/data_table.ejs') %>
            <!-- Category table End -->

            <!-- Footer Start -->
            <%-include('partials/footer.ejs') %>
            <!-- Footer End -->
            <!-- Content End -->
            <!-- Back to Top -->
            <%-include('partials/back_to_top_btn.ejs') %>


        </div>

                <!-- JavaScript Libraries -->
        <%-include('partials/include_js.ejs') %>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="module" src="/admin/js/alert.js"></script>
        <script type="" src="/admin/js/categories.js"></script>
        <script type="" src="/admin/js/data_table.js"></script>
</body>

</html>