<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head.ejs', {title: title}) %> 
    <link rel="stylesheet" href="/admin/css/table_data.css">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%-include('partials/spinner.ejs') %> 
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <%-include('partials/sidebar.ejs', {active: active}) %> 
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
        <!-- Navbar Start -->
        <%-include('partials/navbar.ejs') %> 
        <!-- Navbar End -->
        
        <!-- Product Search Start-->
        <div class="container-fluid pt-4 px-4">
            <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-4">
                <div class="col-12">
                    <form class="d-md-flex ms-4 mb-md-0 mb-4 w-50 ms-md-0 ms-auto me-auto">
                        <input class="form-control border-0" type="search" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
        <!-- Product Search End-->

        <!--Add Product Section-->

        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded p-4">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-white" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Add product
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Product End-->

        <!--  Product Table start -->
        <%-include('partials/data_table.ejs') %>
        <!-- Product Table end-->
        <!-- Footer Start -->
        <%-include('partials/footer.ejs') %>
        <!-- Footer End -->
        <!-- Content End -->
        <!-- Back to Top -->
        <%-include('partials/back_to_top_btn.ejs') %>
       
        <!-- JavaScript Libraries -->
        <%-include('partials/include_js.ejs') %> 
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/admin/js/alert.js"></script>
        <script src="/admin/js/data_table.js"></script>
        <script src="/admin/js/products.js"></script>
</body>

</html>