<!DOCTYPE html>
<html lang="en">

<head>
    <title>Teche Home</title>
    <%-include('partials/head') %>
</head>

<body>
    <!-- Page Preloder -->
    <%-include('partials/preloader') %>


    <!-- Humberger Begin -->
    <%-include('partials/humberger') %>

    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <%-include('partials/header') %>
                <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <%-include('items/hero/hero') %>
    <!-- Hero Section End -->

    <!-- Discount Section Begin -->
    <section class="product__discount">
        <div class="container">
            <div class="section-title product__discount__title">
                <h2>Sale Off</h2>
            </div>
            <div class="row">
                <%-include('items/product/product-discount-slider')%>
            </div>
        </div>
    </section>

    <!-- Discount Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Oranges</li>
                            <li data-filter=".fresh-meat">Fresh Meat</li>
                            <li data-filter=".vegetables">Vegetables</li>
                            <li data-filter=".fastfood">Fastfood</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-3.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-4.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-5.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$3000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>$30.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->


    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <% let latestSet = 0 %> 
                            <% for( let carouselSet = 0; carouselSet < Math.floor(latestProducts.length / 3); carouselSet++, latestSet+=3) { %>
                                <div class="latest-prdouct__slider__item">
                                <% for( let index = latestSet; index < latestSet + 3 && index < latestProducts.length; index++ ) { %>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img style="width: 110px; background: <%= latestProducts[index].images.length > 0 ? `url(${latestProducts[index].images[0]})` : 'gray' %> ; object-fit: cover;">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= latestProducts[index].name %> </h6>
                                            <span>$<%= latestProducts[index].price %>.00 </span>
                                        </div>
                                    </a>
                                <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <% let ratedSet = 0 %> 
                            <% for( let carouselSet = 0; carouselSet < Math.floor(topRatedProducts.length / 3); carouselSet++, ratedSet+=3) { %>
                                <div class="latest-prdouct__slider__item">
                                <% for( let index = ratedSet; index < ratedSet + 3 && index < topRatedProducts.length; index++ ) { %>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img style="width: 110px; background: <%= topRatedProducts[index].images.length > 0 ? `url(${topRatedProducts[index].images[0]})` : 'gray' %> ; object-fit: cover;">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= topRatedProducts[index].name %> </h6>
                                            <span>$<%= topRatedProducts[index].price %>.00 </span>
                                        </div>
                                    </a>
                                <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top View Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <% let viewSet = 0 %> 
                            <% for( let carouselSet = 0; carouselSet < Math.floor(topViewProducts.length / 3); carouselSet++, viewSet+=3) { %>
                                <div class="latest-prdouct__slider__item">
                                <% for( let index = viewSet; index < viewSet + 3 && index < topViewProducts.length; index++ ) { %>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img style="width: 110px; background: <%= topViewProducts[index].images.length > 0 ? `url(${topViewProducts[index].images[0]})` : 'gray' %> ; object-fit: cover;">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= topViewProducts[index].name %> </h6>
                                            <span>$<%= topViewProducts[index].price %>.00 </span>
                                        </div>
                                    </a>
                                <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Footer Section Begin -->
    <%-include('partials/footer') %>
    <%-include('partials/script') %>
    <script type="module" src="/user/js/header.js"></script>
    <script type="module" src="/user/js/home.js"> </script>
    <script  type="module" src="user/js/hero.js"></script>
    <script src="user/js/index.js"></script>





</body>

</html>