<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/admin/home" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img id="userAvatarSidebar" class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/teche-commerce-a2c6a.appspot.com/o/images%2FdefaultUImg.png?alt=media&token=201eb321-6ba9-4589-8d98-2edb59d2e736" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0"><a href="/admin/profile"id="adminName"></a></h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin/home" class="nav-item nav-link <%= active.includes('dashboard') ? 'active': '' %> "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle <%= active.includes('store') ? 'active': '' %>" data-bs-toggle="dropdown"><i class="fa-solid fa-bag-shopping me-2"></i>Store</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/products" class="dropdown-item <%= active.includes('products') ? 'active': '' %>">Products</a>
                    <a href="/admin/brands" class="dropdown-item <%= active.includes('brands') ? 'active': '' %>">Brands</a>
                    <a href="/admin/categories" class="dropdown-item <%= active.includes('categories') ? 'active': '' %>">Categories</a>
                </div>
            </div>
            <a href="/admin/orders" class="nav-item nav-link"><i class="fa-solid fa-cart-arrow-down"></i>Orders</a>
            <a href="/admin/accounts" class="nav-item nav-link <%= active.includes('accounts') ? 'active': '' %>"><i class="fa-solid fa-users"></i>Accounts</a>
        </div>
    </nav>
</div>